/node_modules
/lib
/libs
/coverage
/public
/web
/_old
/locales
/types
index.js
hooks.js
index.ts
hooks.ts
/utils.ts
root.css
root.scss
styleJS.ts
styleJS.js
.storybook/build
.idea/
/test/coverage
.vscode
.DS_Store