@agritask:registry=https://nexus.agritask.xyz/repository/npm-private/
//nexus.agritask.xyz/repository/npm-private/:_auth=bnBtLXB1Ymxpc2hlcjpjV3hwZDF4NUJ3RU55Zm0=
//nexus.agritask.xyz/repository/npm-private/:always-auth=true