.AtAlert {
  box-sizing: border-box;
  border-radius: 8px;
  padding: var(--spacing-04);
  min-width: 415px;
  background: var(--pri-100);
  border: 1px solid var(--pri-500);
  gap: var(--spacing-04);
  &.success {
    background: var(--green-100);
    border: 1px solid var(--green-500);
  }

  &.warning {
    background: var(--orange-100);
    border: 1px solid var(--orange-500);
  }
  &.error {
    background: var(--red-100);
    border: 1px solid var(--red-500);
  }
  &-content {
    color: var(--gray-900);
  }
  &-title {
    color: var(--gray-1000);
  }
  &-icon {
    min-width: 24px;
    min-height: 24px;
  }
}
