@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/open-sans-v15-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Light'), local('OpenSans-Light'),
    url('../fonts/open-sans-v15-latin-300.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/open-sans-v15-latin-300.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/open-sans-v15-latin-300.woff') format('woff'),
    /* Modern Browsers */ url('../fonts/open-sans-v15-latin-300.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('../fonts/open-sans-v15-latin-300.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
    url('../fonts/open-sans-v15-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/open-sans-v15-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/open-sans-v15-latin-regular.woff') format('woff'),
    /* Modern Browsers */ url('../fonts/open-sans-v15-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('../fonts/open-sans-v15-latin-regular.svg#OpenSans')
      format('svg'); /* Legacy iOS */
}

/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/open-sans-v15-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
    url('../fonts/open-sans-v15-latin-600.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/open-sans-v15-latin-600.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/open-sans-v15-latin-600.woff') format('woff'),
    /* Modern Browsers */ url('../fonts/open-sans-v15-latin-600.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('../fonts/open-sans-v15-latin-600.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/open-sans-v15-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
    url('../fonts/open-sans-v15-latin-700.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/open-sans-v15-latin-700.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/open-sans-v15-latin-700.woff') format('woff'),
    /* Modern Browsers */ url('../fonts/open-sans-v15-latin-700.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('../fonts/open-sans-v15-latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local('Heebo'), local('Heebo-Thin'), url('../fonts/Heebo-Thin.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/Heebo-Thin.woff') format('woff'),
    /* Modern Browsers */ url('../fonts/Heebo-Thin.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('../fonts/Heebo-Thin.svg#Heebo-Thin') format('svg'); /* Legacy iOS */
  unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F; /* Hebrew */
}

@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Heebo'), local('Heebo-Light'), url('../fonts/Heebo-Light.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/Heebo-Light.woff') format('woff'),
    /* Modern Browsers */ url('../fonts/Heebo-Light.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('../fonts/Heebo-Light.svg#Heebo-Light') format('svg'); /* Legacy iOS */
  unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F; /* Hebrew */
}

@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Heebo'), local('Heebo-Regular'), url('../fonts/Heebo-Regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/Heebo-Regular.woff') format('woff'),
    /* Modern Browsers */ url('../fonts/Heebo-Regular.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('../fonts/Heebo-Regular.svg#Heebo-Regular') format('svg'); /* Legacy iOS */
  unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F; /* Hebrew */
}

@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Heebo'), local('Heebo-Medium'), url('../fonts/Heebo-Medium.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/Heebo-Medium.woff') format('woff'),
    /* Modern Browsers */ url('../fonts/Heebo-Medium.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('../fonts/Heebo-Medium.svg#Heebo-Medium') format('svg'); /* Legacy iOS */
  unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F; /* Hebrew */
}

@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Heebo'), local('Heebo-Bold'), url('../fonts/Heebo-Bold.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/Heebo-Bold.woff') format('woff'),
    /* Modern Browsers */ url('../fonts/Heebo-Bold.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('../fonts/Heebo-Bold.svg#Heebo-Bold') format('svg'); /* Legacy iOS */
  unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F; /* Hebrew */
}

@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Heebo'), local('Heebo-ExtraBold'),
    url('../fonts/Heebo-ExtraBold.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/Heebo-ExtraBold.woff') format('woff'),
    /* Modern Browsers */ url('../fonts/Heebo-ExtraBold.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('../fonts/Heebo-ExtraBold.svg#Heebo-ExtraBold') format('svg'); /* Legacy iOS */
  unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F; /* Hebrew */
}

@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Heebo'), local('Heebo-Black'), url('../fonts/Heebo-Black.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/Heebo-Black.woff') format('woff'),
    /* Modern Browsers */ url('../fonts/Heebo-Black.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('../fonts/Heebo-Black.svg#Heebo-Black') format('svg'); /* Legacy iOS */
  unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F; /* Hebrew */
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Inter Regular'), local('Inter-Regular'),
    url('../fonts/Inter-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Inter Medium'), local('Inter-Medium'),
    url('../fonts/Inter-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Inter SemiBold'), local('Inter-SemiBold'),
    url('../fonts/Inter-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Inter Bold'), local('Inter-Bold'), url('../fonts/Inter-Bold.ttf') format('truetype');
}
